.CustomerReview {
    background: pink;
    width: 98%;
    height: auto;
    border-radius: 0.7rem;
}

/* Mobile View */
@media screen and (max-width: 768px){
    .CustomerReview{
        width: 95%;
    }
    
}